<header>
	<nav class="navbar navbar-expand-lg {{headerBg}} mb-2">
		<div class="container-fluid">
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-1 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/dashboard">home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/stylesearch">style search</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/tapplan">tap plan</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/requests">requests</a>
					</li>
					{{#if isManager}}
						<li class="nav-item">
							<a class="nav-link" href="/employees">employees</a>
						</li>
					{{/if}}
					<li class="nav-item">
						<a class="nav-link" href="/update-employee">update employee</a>
					</li>
					<li class="nav-item">
						{{#if loggedIn}}
							<a class="nav-link" href="api/logout">logout</a>
						{{else}}
							<a class="nav-link" href="/">Login</a>
						{{/if}}
					</li>
				</ul>
			</div>
			<a class="navbar-brand" href="/dashboard">
				<img src="/images/toot.png" width="80" height="80" /></a>
		</div>
	</nav>
</header>