<div class="container">
	<h1 class="text-center mt-5">{{heading}}</h1>
	<form id="login" action="api/login" method="POST">
		<div class="input-group mb-3">
			<label for="username" class="input-group-text search-bg_light">Username: </label>
			<input
				type="text"
				class="form-control"
				id="username"
				name="username"
				placeholder="Enter your username"
				aria-label="username"
				aria-describedby="username"
				required
			/>
		</div>
		<div class="input-group mb-3">
			<label for="password" class="input-group-text search-bg_light">Password: </label>
			<input
				type="password"
				class="form-control"
				id="password"
				name="password"
				placeholder="Enter your password"
				aria-label="password"
				aria-describedby="password"
				required
			/>
		</div>
		<div class="col-sm-12">
			<button type="submit" class="btn search-bg_light">Submit</button>
			<a href="/security">Forgot username/password?</a>
		</div>
	</form>
</div>