<div class="container">
<<<<<<< HEAD
<h1 class="text-center mt-5">{{heading}}</h1>
<div class="container">
    
</div>
    <div class="row search-bg_dark rounded w-50 p-5 mb-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <a href="/stylesearch" class="btn rounded search-bg_light" >Style Search</a>
        </div>
    </div>
    <div class="row tapplan-bg_dark rounded w-50 p-5 mb-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
            <a href="/tapplan" class="btn rounded tapplan-bg_light">Tap Plan</a>
        </div>
    </div>
    <div class="row requests-bg_dark rounded w-50 p-5 mb-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">

    <a href="/requests" class="btn rounded requests-bg_light">Requests</a>
        </div>
    </div>

</div>

=======
	<h1 class="text-center mt-5">{{data.heading}}</h1>
	<form id="login" action="api/login" method="POST">
		<div class="input-group mb-3">
			<label for="username" class="input-group-text search-bg_light">Username: </label>
			<input
				type="text"
				class="form-control"
				id="username"
				name="username"
				placeholder="Enter your username"
				aria-label="username"
				aria-describedby="username"
				required
			/>
		</div>
		<div class="input-group mb-3">
			<label for="password" class="input-group-text search-bg_light">Password: </label>
			<input
				type="text"
				class="form-control"
				id="password"
				name="password"
				placeholder="Enter your password"
				aria-label="password"
				aria-describedby="password"
				required
			/>
		</div>
		<div class="col-sm-12">
			<button type="submit" class="btn search-bg_light">Submit</button>
			<a href="/update-account">Forgot username/password?</a>
		</div>
	</form>
</div>
>>>>>>> 171e176578e95ef9b1ffc98990dc2de9a6a208c8
