{{> header}}
<div class="container">
<h1 class="text-center mt-5">{{heading}}</h1>
<div class="container">
    
</div>
    <div class="row search-bg_dark rounded w-50 p-5 mb-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <a href="/stylesearch" class="btn rounded search-bg_light">Style Search</a>
        </div>
    </div>
    <div class="row tapplan-bg_dark rounded w-50 p-5 mb-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
            <a href="/tapplan" class="btn rounded tapplan-bg_light">Tap Plan</a>
        </div>
    </div>
    <div class="row requests-bg_dark rounded w-50 p-5 mb-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">

    <a href="/requests" class="btn rounded requests-bg_light">Requests</a>
        </div>
    </div>

</div>

