{{> header}}
<main class="container">
    <section class="row mb-5">
        <form id="tapplan-search_box" class="rounded tapplan-bg_dark p-4" action="" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text tapplan-bg_light" id="on-now">on now: </span>
                <input
                    type="text"
                    class="form-control"
                    placeholder="beer name"
                    aria-label="on now"
                    aria-describedby="on-now"
                />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text tapplan-bg_light" id="on-after">on after: </span>
                <input
                    type="text"
                    class="form-control"
                    placeholder="beer name"
                    aria-label="on after"
                    aria-describedby="on-after"
                />
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn tapplan-bg_light">Submit</button>
            </div>
        </form>
    </section>

    <section>
        <form id="tapplan-search_box" class="rounded tapplan-bg_dark p-4">
            <div class="row">
                <div class="col-sm-5">
                    <label for="" class="tapplan-bg_light rounded">On Tap 1</label>
                            <select name="" id="on-now">
                                <option value="">Select</option>
                                <option value="Beer 1">Beer 1</option>
                                <option value="Beer 2">Beer 2</option>
                                <option value="Beer 3">Beer 3</option>
                                <option value="Beer 4">Beer 4</option>
                                <option value="Beer 5">Beer 5</option>
                            </select>
                </div>
                <div class="col-sm-2">
                    <i class="{{arrow}}"></i>
                </div>
                <div class="col-sm-5">
                    <label for="" class="tapplan-bg_light rounded">On Tap 1</label>
                            <select name="" id="up-next">
                               
                                <option value="Beer 1">Beer 1</option>
                                <option value="Beer 2">Beer 2</option>
                                <option value="Beer 3">Beer 3</option>
                                <option value="Beer 4">Beer 4</option>
                                <option value="Beer 5">Beer 5</option>
                            </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="row">
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">On Tap 1</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">On Tap 2</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">On Tap 3</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">On Tap 4</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">On Tap 5</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">On Tap 6</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="row">
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">Next On Tap 1</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">Next On Tap 2</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">Next On Tap 3</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">Next On Tap 4</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">Next On Tap 5</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                        <div class="col-sm-12 p-1">
                            <label for="" class="tapplan-bg_light rounded">Next On Tap 6</label>
                            <select name="" id="">
                                <option value="">Beer 1</option>
                                <option value="">Beer 2</option>
                                <option value="">Beer 3</option>
                                <option value="">Beer 4</option>
                                <option value="">Beer 5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>